<div class="main-content client">

    <div class="box">
        <div class="box-header  pt-0">
            <div class="me-auto">
                <h4 class="card-title mb-0 fs-22">{{title}}</h4>
            </div>
            <div class="list-action">
                <a href="#" class="add" data-toggle="modal" data-target="#add_client">Yangi mijoz<i
                        class="fas fa-plus-circle"></i></a>
            </div>
        </div>
        <div class="box-body pb-0 table-responsive activity mt-18">
            <div class="row">
                {{#each clients}}
                <div class="col-3 col-md-6 col-sm-12 mb-25">
                    <div class="box client">
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bx bx-dots-horizontal-rounded"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="">
                                <a class="dropdown-item" href="/client/delete/{{_id}}" onclick="return confirm('Qaroringiz qat`iymi?')"><i class="bx bx-trash"></i> O'chirish</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#up_client" onclick="edit('{{_id}}')"><i class="bx bx-edit mr-5"></i>Tahrirlash</a>
                            </div>
                        </div>
                        <div class="box-body pt-5 pb-0">
                            <div class="img-box">
                                <img src="/{{avatar}}" alt="" height="100">
                                <div class="pulse-css"></div>
                            </div>
                            <a href="/client/show/{{_id}}">
                                <h5 class="mt-17">{{name}}</h5>
                            </a>

                            <p class="fs-14 font-w400 font-main">Founder at <span
                                    class="text-clo-primary font-w500 pl-4">{{company.name}}</span></p>
                            <ul class="info">
                                <li class="fs-14"><i class="bx bxs-phone"></i>{{phone}}</li>
                                <li class="fs-14"><i class="bx bxs-envelope"></i>{{email}}</li>
                            </ul>
                            <div class="group-btn d-flex justify-content-between">
                                <a class="bg-btn-pri color-white" href="message.html">Message</a>
                                <a class="bg-btn-sec color-main" href="/client/show/{{_id}}">Batafsil</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div id="add_client" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yangi mijoz</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/client" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Mijoz ism-familyasi</label>
                        <input type="text" name="name" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label>Telefon nomer</label>
                        <input type="number" name="phone" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label>Mijoz kompaniyasi</label>
                        <select name="company" class="form-control select">
                            {{#each companies}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Mijoz rasmi</label>
                        <input type="file" name="avatar" class="form-control" value="">
                    </div>
                    <div class="box-info-messager">
                        <div class="checkbox">
                            <input type="checkbox" name="status" value="1" checked="">
                            <span class="ml-10">Faol</span>
                        </div>
                    </div>

                    <div class="submit-section text-center">
                        <button class="btn btn-primary submit-btn">Qo'shish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="up_client" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mijoz ma'lumotlarini tahrirlash</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/client/save/" enctype="multipart/form-data" method="post" name="editform">
                    <input type="hidden" name="_id">
                    <div class="form-group">
                        <label>Mijoz ism-familyasi</label>
                        <input type="text" name="name" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label>Telefon nomer</label>
                        <input type="number" name="phone" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label>Mijoz kompaniyasi</label>
                        <select name="company" class="form-control select">
                            {{#each companies}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Mijoz rasmi</label>
                        <input type="file" name="avatar" class="form-control" value="">
                    </div>
                    <div id="img" class="form-group">

                    </div>
                    <div class="box-info-messager">
                        <div class="checkbox">
                            <input type="checkbox" name="status" value="1" checked="">
                            <span class="ml-10">Faol</span>
                        </div>
                    </div>

                    <div class="submit-section text-center">
                        <button class="btn btn-primary submit-btn">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function edit(id) {
        let form = document.forms.editform
        let img = document.getElementById('img')
        fetch(`/client/get/${id}`)
            .then(res => res.json())
            .then(client => {
                form._id.value = client._id
                form.name.value = client.name || 0
                form.phone.value = client.phone || 0
                form.email.value = client.email || 0
                form.company.value = client.company || 0
                form.status.checked = client.status == 1 ? true : false
                if (client.avatar) {
                    img.innerHTML = `
                        <img src="${client.avatar}" width='50' />                        
                    `
                }
            })
    }
</script>